<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://localhost:1337/css/style.css">
  </head>
  <body>
    <div class="header">
      <h2>Cat Pictures</h2>
    </div>
    
	<div class="row">
		<div class="leftcolumn">
			<div class="card">
				<div class="card content">
					<h5>user: bungus</h5>
					<img id="smallPic" img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="10%">
					<button id="resetImg">Reset</button>

					<h2>yeah yeah</h2>
            		<h5>ok, Mar 2, 2023</h5>
            		<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="30%">
            		
					<h2>Likes: </h2>
            		<span id="likes">0</span>
            		<button id="like">Like</button>
            		
					<h2>Comments</h2>
            		<textarea id='comments'></textarea>
            		
					<h2>Character Count: </h2>
            		<input id='count' value='0' />
				</div>
				<script src="/js/countingCharacters.js"></script>
			</div>
		</div>
	</div>
	
	<div class="rightcolumn">
		<div class="card">
			<h3>Popular Posts</h3>
			<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="50%">
			<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="50%">
			<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="50%">
		</div>
	</div>

	<div class="footer">
		<h2>Yes hello down here</h2>
		<p>Click here to <a href="http://localhost:1337/login">login</a>
		</p>
	</div>
	</body>
</html>