<!doctype html>
<html>
	<link rel="stylesheet" href="http://localhost:1337/css/style.css">
	<head>
	</head>
	<body>
		<div class="header">
			<h2>Cat Pictures</h2>
		</div>
		  <div class="row">
			<div class="leftcolumn">
			  <div class="card">
				<h2>yeah yeah</h2>
				<h5>ok, Mar 2, 2023</h5>
				<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="400" height="300">
				Comments<br/>
				<textarea id= 'comments'></textarea>
				Character Count: <br />
				<input id='count' value='0' />

				<script src="/js/countingCharacters.js"></script>
			  </div>
			  <div class="card">
				<h2>CAT IN DA MILK? MILK FACE?</h2>
				<h5>he like milk i guess, Feb 23, 2023</h5>
				<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="400" height="300">
				<h2>Comments</h2>
				<p>blah blah blah</p>
			  </div>
			</div>
			  <div class="card">
				<h3>Popular Posts</h3>
				<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="300" height="225">
				<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="300" height="225">
				<img src="http://localhost:1337/img/milkcat.jpeg" alt="milkcat" width="300" height="225">
			  </div>
			</div>
		  </div>
		  
		  <div class="footer">
			<h2>Footer</h2>
			<p>Click here to <a href="http://localhost:1337/login">login</a></p>

		  </div>
		</body>
</html>
